/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/Home.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/

.Home_container__RtvGs {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
}

.Home_title__kBCd7 {
  font-size: 2.5rem;
  margin-bottom: 35px;
  margin-top: 0;
}

.Home_searchBar__yZsWC {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
  width: 80%;
  max-width: 400px;
}

.Home_mapList__PNUkP {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}


.Home_mapCard__MX9FR {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  width: 450px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Push content to top and button to bottom */
  transition: all 0.2s;
  box-sizing: border-box; /* Ensure padding is included in width/height */
}

.Home_card2___WXRi {
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  /* centre items horizontally */
  align-items: center;
  height: 100%; /* Allow card2 to take full height of mapCard */

  /* slow 3D flip effect */
  transition: transform 0.5s;
}

.Home_card2___WXRi:hover {
  transform: scale(0.98);
  border-radius: 20px;
  /* flip 3D effect
  transform: rotateX(180deg); */
}


.Home_mapCard__MX9FR:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}



@keyframes Home_glow__qzyxf {
  from {
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffcc, 0 0 40px #00ffcc;
  }
}
.Home_mapCard__MX9FR a {
  color: white !important;  /* Ensures map name text remains white */
  margin-bottom: 0;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;

  color: #fff;
  /* text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff; */
  /* animation: glow 1s ease-in-out infinite alternate; */
}

.Home_mapCard__MX9FR p {
  margin-bottom: 15px;
  color: #a9a9a9;
  word-wrap: break-word; /* Breaks long words like URLs */
  max-width: 100%; /* Ensures content stays within the card */
  overflow-wrap: break-word; /* Ensures long words break to the next line */
  margin-bottom: auto;
}

.Home_card2___WXRi button {
  background-color: #4338ca;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px; /* Space between description and button */
}

.Home_mapCard__MX9FR button:hover {
  background-color: #386bca;
}

.Home_gold__YGnFc {
  color: gold ;
}

.Home_likes__PeN49 {
  color: gold !important;
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
}

.Home_loadMore__UD5Ne button {
  background-color: #190ab9;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px; /* Space between description and button */
  margin-bottom: 20px;
}

.Home_loadMore__UD5Ne button:hover {
  background-color: #00256a;
}

.Home_uploadButton__9nuXF {
  background-color: #0b8a1a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 0px; /* Space between description and button */
  margin-bottom: 20px;
}
.Home_uploadButton__9nuXF:hover {
  background-color: #015d15;
}

.Home_spinner__hOhr7 {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-top: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: Home_spin__r5htb 1.5s linear infinite;
  margin: 0 auto;
}

@keyframes Home_spin__r5htb {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Home_searchContainer__SrLGm {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust to your desired width */
  height: 50px;
  margin: 0 auto; /* Centers the container horizontally */
}

.Home_searchBar__yZsWC {
  width: 100%;
  padding: 8px 32px 8px 12px; /* Padding on the right for the icon */
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded corners for the input */
  font-size: 16px;
  box-sizing: border-box;
}

.Home_searchButton__c7fy2 {
  position: absolute;
  right: 12px; /* Position the button inside the input field */
  top: 9px; /* Aligns the button properly */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.Home_searchIcon__S1JPV {
  fill: rgb(55, 55, 55); /* Change the color of the icon to grey */
  pointer-events: none; /* Ensure the icon itself doesn’t interfere with clicks */
}

.Home_githubIcon___h_hE {
    position: absolute;
    right: 20px;
    top: 20px;
}

.Home_flagLink__ww3pC {
  position: absolute;
  /* centre horizontally; */
  left: 150px;
  top: 10px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #006b95;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/* src/styles/globals.css */

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background: linear-gradient(45deg, #121212, #020202); */
  /* background-size: 400% 400%;
  animation: gradientShift 1s ease infinite; */
  }

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/Upload.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
/* components/Upload.module.css */
.Upload_popupOverlay__Wnhpk {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Upload_popupContent__uhJoZ {
    background: rgb(56, 56, 56);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 40vw;
    height: 40vh;

}

.Upload_closeButton__BsWIK {
    background: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    float: right;
}

.Upload_submitButton__r_6Tf {
    background: green;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
}

.Upload_inputText__Kk5ch {
    width: 40%;
    height: 40%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/Play.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/* components/Upload.module.css */
.Play_popupOverlay__9GpZE {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Play_mapColor__mbZZ6 {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    width: 95%;
    max-width: 800px;
    height: 85%;
    max-height: 500px;

    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Push content to top and button to bottom */
    transition: all 0.2s;
    box-sizing: border-box; /* Ensure padding is included in width/height */
}

.Play_popupContent__hlMyz {
    background-color: #1a1a1a;
    border-radius: 20px;

    display: flex;
    flex-direction: column; /* Stack children vertically */
    /* centre items horizontally */
    align-items: center;
    height: 100%; /* Allow card2 to take full height of mapCard */
    width: 100%;
    padding: 20px; /* Add some padding around the content */
    box-sizing: border-box; /* Ensure padding is included in width/height */
}

/* .popupContent:hover {
    transform: scale(0.98);
    border-radius: 20px;
} */

.Play_mapColor__mbZZ6:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.Play_closeButton__9rd7R {
    background: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    float: right;
    margin-left: auto;
}

.Play_submitButton__9i0oQ {
    background: green;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
}

.Play_inputText__lTybX {
    width: 40%;
    height: 40%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Play_button__kG_6p {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 22%;
}

.Play_button__kG_6p:hover {
    background-color: #989898;
}

.Play_popupContent__hlMyz a {
    color: white !important;  /* Ensures map name text remains white */
    margin-bottom: 0;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-margin-before: 0.5em;
            margin-block-start: 0.5em;

    color: #fff;
    /* text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff; */
    /* animation: glow 1s ease-in-out infinite alternate; */
}

.Play_popupContent__hlMyz p {
    margin-bottom: 15px;
    color: #a9a9a9;
    word-wrap: break-word; /* Breaks long words like URLs */
    max-width: 100%; /* Ensures content stays within the card */
    overflow-wrap: break-word; /* Ensures long words break to the next line */
    margin-bottom: auto;
}

.Play_likes__Mr0bc {
    color: gold !important;
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
}

.Play_gold__RpxE1 {
    color: gold;
}

.Play_buttonContainer__vyU0T {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.Play_slider__g8ham {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
  }

  .Play_slider__g8ham::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .Play_slider__g8ham::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

.Play_sliderLabel__Bn_vy {
display: block;
text-align: center;
font-size: 14px;
color: #bdbdbd;
}

.Play_optionsContainer__1xiP_ {
    max-width: 95%;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/AccountPopup.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.AccountPopup_button__fZoSq {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #0b8a1a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
}

.AccountPopup_popupOverlay__XeZlv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AccountPopup_popup__9g9fX {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 400px;
}

.AccountPopup_popup__9g9fX input {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.AccountPopup_popup__9g9fX button {
    margin-right: 10px;
    padding: 8px 12px;
    cursor: pointer;
}
.AccountPopup_popup__9g9fX h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}
.AccountPopup_popup__9g9fX p {
    color: #555;
    margin-bottom: 20px;
}

